body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f9;
    background: linear-gradient(135deg, #bb3a3a 0%, #8a922e 50%, #3fcf4b 100%);
    color: #333;
    margin: 0;
    padding: 0; */
}
.hero-section {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.div-contents {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Responsive grid */
  gap: 20px;
  justify-items: center;
  align-items: stretch;
}

.blog-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.blog-item img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border-bottom: 2px solid #4caf50;
  margin-bottom: 10px;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

.blog-item p {
  font-size: 18px;
  color: #333;
  margin: 0;
  padding: 10px 0;
  font-weight: 500;
  text-transform: capitalize;
  flex-grow: 1; 
}
.blog-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} 

.hero-section h1 {
  font-size: 2vw;
  font-weight: normal;

  color: #2e7d32;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.blog-item p:hover {
  color: #388e3c;
}

.content-paragraph {
  font-size: 1vw;
  line-height: 1.6;
}

.additional-info-div {
  margin-top: 1vw;
  font-size: 0.9vw;
  line-height: 1.3;
}
